<h1>Explore Bars</h1>

<% @bars.each do |bar| %>
  <h3><%= bar.name %></h3>
  <h4><%= bar.address %></h4>
  <h4><%= bar.phone %></h4>
  <h4><%= bar.city %></h4>
  <%= image_tag bar.image %>
  <%= link_to "#{bar.link}", bar.link %>
  <hr>
<% end %>
