<h1>Saved Bars</h1>

<% @bars.each_with_index do |bar, i| %>
  <% if i % 3 == 0 %>
    <div class="row row-cols-1 row-cols-lg-3">
  <% end %>
  <div class="col mb-4">
    <div class="card h-100">
      <%= image_tag bar.image, :class => 'card-img-top' %>
      <div class="card-body">
        <h5 class="card-title"><%= bar.name %></h5>
        <%= link_to bar.link, :class => 'card-link' %>
        <p class="card-text my-2"><%= bar.address %></p>
        <p class="card-text mb-2"><%= bar.phone %></p>
      </div>
    </div>
  </div>
  <% if i % 3 == 2 %>
    </div>
  <% end %>
<% end %>
