<h1 class='mb-4'><%= "#{@user.first_name}'s bars" %></h1>

<div class="row my-4">
  <%= button_to 'Edit profile', edit_user_path, :id => 'custom-btn', :class => 'btn ml-3 mr-2', :method => 'get' if @current_user.id == @user.id %>
  <%= button_to 'Delete profile', @user, :id => 'custom-delete-btn', :class => 'btn', :method => 'delete' if @current_user.id == @user.id %>
</div>

<% @bars.each_with_index do |bar, i| %>
  <% if i % 3 == 0 %> <%# start a new row every three cards, starting at 0 %>
    <div class="row row-cols-1 row-cols-lg-3">
  <% end %>
  <div class="col mb-4">
    <div class="card h-100">
      <%= image_tag bar.image, :class => 'card-img-top' %>
      <div class="card-body">
        <h5 class="card-title"><%= bar.name %></h5>
        <%= link_to bar.link, bar.link, :class => 'card-link' if bar.link.present? %>
        <p class="card-text my-2"><%= bar.address %></p>
        <p class="card-text mb-2"><%= bar.phone %></p>

      </div>
      <div class="card-footer">
        <%= form_tag users_unsave_path do %>
          <%= hidden_field_tag :bar_id, bar.id %>
          <%= submit_tag "Unsave", :id => 'custom-btn', :class => 'btn btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
  <% if i % 3 == 2 %> <%# end the row every three cards, starting at 2 %>
    </div>
  <% end %>
<% end %>
