<!DOCTYPE html>
<html>
  <head>
    <title>BarHop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark custom-bg-dark mb-4 sticky-top">
      <div class="container">
        <%= link_to 'BarHop', root_path, :id => 'custom-navbar-brand', :class => "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to 'Explore Bars', bars_path, :id => 'explore-link', :class => 'nav-link' %>
            </li>

            <% if @current_user.present? %>

              <li class="nav-item">
                <%= link_to 'My profile', user_path(@current_user.id), :id => 'saved-bars-link', :class => 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'All users', users_path, :id => 'users-link', :class => 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Log out', login_path, :class => 'nav-link', :method => 'delete' %>
              </li>

            <% else %>

              <li class="nav-item">
                <%= link_to 'Sign up', new_user_path, :id => 'sign-up-link', :class => 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign in', login_path, :id => 'sign-in-link', :class => 'nav-link' %>
              </li>

            <% end %>

          </ul>
          <%= form_tag bars_search_path, :class => 'form-inline my-2 my-lg-0' do %>
            <%= text_field_tag :location, nil, :class => 'form-control mr-sm-2', :placeholder => 'Hawthorn, Victoria' %>
            <%= submit_tag "Search", :id => 'custom-btn', :class => 'btn my-2 my-sm-0' %>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <script type="text/javascript">
      $(document).ready(function () {
        // this switch statement figures out which page the user is on and highlights it in the navbar
        switch (window.location.pathname) {
          case '<%= bars_path %>':
            $('.nav-item').removeClass('active');
            $('#explore-link').addClass('active');
            break;
          case '<%= users_path %>':
            $('.nav-item').removeClass('active');
            $('#users-link').addClass('active');
            break;
          case '<%= new_user_path %>':
            $('.nav-item').removeClass('active');
            $('#sign-up-link').addClass('active');
            break;
          case '<%= login_path %>':
            $('.nav-item').removeClass('active');
            $('#sign-in-link').addClass('active');
            break;
          case '<%= user_path(@current_user.id) if @current_user.present? %>':
            $('.nav-item').removeClass('active');
            $('#saved-bars-link').addClass('active');
            break;
          case '<%= user_path(@current_user.id) if @current_user.present? %>/edit':
            $('.nav-item').removeClass('active');
            $('#saved-bars-link').addClass('active');
            break;
        }

        // if there are errors when signing up, highlight the input boxes with the errors red
        <% if @user && @user.errors.any? %>
          <% @user.errors.size.times do |i| %>
            $('#<%= @user.errors.keys[i].slice(0..-1) %>').css('background-color', '#ffa0a0'); // slice is used to remove the colon at the beginning
          <% end %>
        <% end %>

        // after the input boxes have been highlighted red, turn them white again after clicking away from the input box
        $('form input').on('blur', function() {
          $(this).css('background-color', 'white');
        })
      })
    </script>
  </body>
</html>
